################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WebApiDemo/appsettings.json
/WebApiDemo/bin/
/WebApiDemo/obj/
/.vs/

/Shared/bin/
/Shared/obj/

/WPFClient/bin/Debug/net9.0-windows
/WPFClient/obj
/WebApiDemo/Migrations
